.notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    position: fixed;
    bottom: 2%;
    right: 1.5%;
    padding: 30px 20px;
    border-radius: 12px;
    background: #333;
    color: #FFF;
}

.notification p {
    font-size: 16px;
    margin-bottom: 10px;

}

