button {
    padding: 15px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
}

.buttonYellow {
    background-color: #feda00;
}

.buttonYellow:hover {
    background-color: #deac00;
}

.buttonOpacity {
    color: #888888;
    border: 2px solid #888888;
    background-color: rgba(254, 218, 0, 0);
}

.buttonOpacity:hover {
    color: #937d00;
    border: 2px solid #937d00;
}